/* Fonts Load */

@font-face {
    font-family: 'Montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf');
}


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #556270;  
    background: linear-gradient(to right, #546de5, #556270);

}